
/*============================================
* HEADER HAMBURBER
============================================*/

@media (max-width: 768px) {
    .main-container__header {
        width: 100%;
        margin: 0 auto;
    }

    .header__logo{
        flex-basis: 80%;
        padding-bottom: 2rem;
        align-items: end;
        justify-content: right;
    }
    img .custom-logo{
        width: 25%;
        top: 1rem;
    }

    .custom-logo-link {
        display: flex;
        text-align: center;
    }

    .header__nav {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        }

    .header__open-menu ,
    .header__close-menu {
        position: absolute;
        display: flex;
        font-size: 2.5rem;
        cursor: pointer; 
        background-color: transparent;
        border: transparent;
        top: 1rem;
        right: 1rem;
    }
    .menu-menu-principal-container{
        width: 25rem;
    }
    .header__close-menu{
        position: relative;
        color: #fff;
        left: 1rem;
    }

    .nav {
        position: absolute;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0rem;
        padding: 1rem;
        box-shadow: -1px -1px 8px -3px rgba(0, 0, 0, 0.56);
        z-index: 1;
        }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        }

    #nav{
        opacity: 1;
        z-index: 99999;
        background-color: rgba(128, 128, 128, 1);
        text-align: center;
    }

    ul.menu > li a {
        display: flex;
        line-height: 1.5rem;
        margin-bottom: 0.8rem;
        flex-direction: column;
        color: #fff; 
    }

/*============================================
* BLOG
============================================*/
    .container__blog-content-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }
    .blog-content-box__blog-content{
        z-index: 1;
    }
    .blog-content-box__thumbnail img {
        width: 100%;
        max-width: 768px;
        z-index: -1;
    }
    

}


/*-------------------------------------------------------------
* RIGHT SIDEBAR - LEFT SIDEBAR
-------------------------------------------------------------*/
@media (max-width: 1200px){
    .container__right-sidebar,
    .container__left-sidebar{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 99%;        
    }

    .sidebar-left__sidebar,
    .sidebar-right__sidebar{
        width: 30%;

    }

    .sidebar-left__main-content,
    .sidebar-left__main-content{
        width: 70%;
    }
}

@media (max-width: 768px){
    
    .container__left-sidebar{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        width: 95%;        
    }

    .container__right-sidebar{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 95%;      
    }

    .sidebar-left__sidebar,
    .sidebar-right__sidebar{
        width: 95%;
        margin: 0 auto;
    }

    .sidebar-left__main-content,
    .sidebar-right__main-content{
        width: 95%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    /*--------------------------------------
    * COMMENTS
    */

    .single__comments textarea{
        width: 350px;
        max-width: 100%;
    }
}